* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  span {
      color: blue;
      font-size: 20xp;
  }

  ::before,
  ::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }

  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }

  #typ {
    color: orange;
  }

  body {
    background: #fff;
    font-family: helvetica neue, Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    color: #6a6f82;
    margin: 0;
  }

  p,
  table,
  blockquote,
  address,
  pre,
  iframe,
  form,
  figure,
  dl {
    margin: 0;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  header,
  footer {
    display: inline-block;
    width: 100%;
    background: #000066;
    background-color: #464855;
    font-size: 1rem;
    color: #fff;
    padding: 1rem 0;
    font-weight: 700;
  }

  header img {
    width: 50xp;


  }

  .container {
    position: relative;
    max-width: 980px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-carrusel {
    position: relative;
    max-width: 700px;
    max-height: 450px;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  section {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 10px 20px 40px;
  }

  section h1,
  section h2,
  section h3,
  section h4,
  section h5,
  section h6 {
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  section h1,
  section h2,
  section h3 {
    color: #464855;
  }

  section h4,
  section h5,
  section h6 {
    color: #6a6f82;
  }

  section h1 {
    font-size: 1.625rem;
    margin-top: 25px;
    margin-bottom: 15px;
    line-height: 1.4;
  }

  section h2 {
    font-size: 1.375rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  section h3 {
    font-size: 1.25rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  section h4 {
    font-size: 1.125rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  section h5 {
    font-size: 1.125rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  section h6 {
    font-size: 1.125rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  section p {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: justify;
  }

  section a {
    color: #6a6f82;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }

  section a:hover {
    color: #464855;
  }

  section pre {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
    font-size: 14px;
    line-height: 20px;
    background: #fff6d0;
    border: 1px solid #e6dcae;
    white-space: pre-line;
    white-space: -moz-pre-line;
    white-space: -pre-line;
    white-space: -o-pre-line;
    word-wrap: break-word;
    border-radius: 4px;
    margin: 20px 0;
    padding: 15px;
  }

  section ul {
    font-size: 1rem;
    list-style-type: disc;
    line-height: 2;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: justify;
  }

  section ul li p {
    margin-top: 0;
    margin-bottom: 10px;
  }

body{
    font-family: 'Lobster', cursive; 
    text-align: center;
    font-size: 14px;
    margin: 0;
   background-repeat: no-repeat;
   background-size: 35%;
   background-attachment: fixed;
   background-position-y: 10rem;
   background-position-x: right;
   
 
}

.navbar {
    z-index: 10; 
    background-color: #1a1a1a;
    position: fixed;
    box-shadow: 0 0 3px 3px #1a1a1a;
    top: 0;
    right: 0;
    left: 0;
    margin: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.menu {
    position: absolute;
    background: #4E94AB; 
    width: 100%;
    margin-left: 100%;
    transition: all 1s;
}

#type {
    position: relative;
    width: 19rem;
}

.navbar #navbarColor01 {
  margin-top: 4em;
}

.navbar #navbarColor01 ul li {
    margin-left: 1em;
  }

#option-select {
    text-align: center;
}

#container-p {
   margin-top: 10%;
   width: 100%;
   height: 50px;
}

.list-group-item {
    cursor: pointer;
    width: 50vh;
}

.task-form {
    text-align: center;
    margin-left: 10px auto;
}

main {
    padding: 20px;
    text-align: justify;
}
header {
    width: 100%;
    background: #4E94AB;
}

.checkbox:checked ~ .menu {
    left: 20%;
    border-radius: 0 0.5rem 0.5rem 0;
}

.left-panel {
    width: 20%;
    height: 100%;
    /*Safari*/
    background:  -webkit-linear-gradient(rgb(69, 109, 114), rgb(81, 158, 135), #a6a6cf);
    /*Opera*/
    background:  -o-linear-gradient(rgb(69, 109, 114), rgb(81, 158, 135), #a6a6cf);   
     /*Estandar*/
    background: linear-gradient(rgb(69, 109, 114), rgb(81, 158, 135), #a6a6cf);
    position: absolute;
    top: 0;
    left: -40%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.5s;
    transition: right 0.5s;
   
}

.navbar-toggler:checked ~ .navbar {
   margin: 0;
}

.checkbox:checked ~ .left-panel {
    left: 0px;
}

.checkbox {
    display: none;
}

ul a {
    color: #F7F7F7;
    text-decoration: none;
}
.nav ul {
    flex-direction: column;     
}

li {
    list-style: none;
}

.left-panel li {
    list-style: none;
    font-size: 1rem;
    text-align: left;
    padding: 0 0.5rem;
    margin: 1rem 0;
}
li:hover {
    color: white;
    border: solid white;
    border-width: 0 0.1rem;
}

  #btn-menu:checked ~ .menu {
    margin: 0;
}

  .bad{
    text-align: center;
    width: 100%;
    padding: 0px;
    color:red;
    border: 2 blueviolet;
    font-family: Cooper;
  }

.informacion{
    font-family: fantasy;
    padding: 50px;
    font-size: 50px;
    color: white;
}

.contenedor {
        float: left;
        max-width: 30%;
        margin-top: 10rem; 
        padding-left: 2rem;
        padding-right: 2rem;
        transition: left 0.5s;
        transition: right 0.5s;
    }

.cabecera {
    background-color: black;
    padding: 5px;
}
.cabecera h3{
    color: white;
}
.cabecera a{
    float: right;
    padding-right: 10px;
    color: white;
}

#cabecera tr{
    background-color: black;
    text-decoration-color: snow;
}
#m-cabecera{
    color: white;
    margin-right: 50px;
}

tr{
    background-color: darkgray;
    width: 150px;
}

.welcome{
    color: white;
}


input[type="text"], input[type="password"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;

}


input[type="submit"]{
    padding: 10px;
    color: #fff;
    background: #0098cd;
    width: 300px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #00b8eb;
}

#task-result{
    margin:10px auto;
    padding: 0 ;

}

@media(max-width:990px) {

    .nav ul {
        border: 2px solid #1a1a1a;
        width: 200px;
        flex-direction: column-reverse;     
    }

}

@media(max-width:768px) {
    #container {
        margin-top: 20%;
        width: 100%;
        height: 50px;
     }
}

.carousel-item  img {
    width: 100%;
    height: 450px;
}
